<!DOCTYPE html>
<html lang="{{ app.request.locale|default('pl') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="website" />

    {% set meta = meta|default({}) %}
    {% set metaSettings = getMeta() %}

    {% set metaTitle = metaSettings['shop_title']|default('shop.meta.title'|trans) %}

    {% block meta %}
        {% set metaDescription = metaSettings['shop_description']|default('shop.meta.description'|trans) %}
        {% set metaOgTitle = metaSettings['shop_og_title']|default(metaTitle) %}
        {% set metaOgDescription = metaSettings['shop_og_description']|default(metaDescription) %}

        <meta name="description" content="{{ metaDescription }}">
        <meta property="og:title" content="{{ metaOgTitle }}" />
        <meta property="og:description" content="{{ metaOgDescription }}" />
    {% endblock %}

    {% block title %}
        <title>{{ metaTitle }}</title>
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    {% block javascripts %}
        {{ encore_entry_script_tags('shop/app') }}
    {% endblock %}


    {% block stylesheets %}
        {{ encore_entry_link_tags('shop/styles') }}
    {% endblock %}

</head>
<body>
{% block header %}
    {% include 'shop/layout/header.html.twig' %}
{% endblock %}

<main>
    {% block body %} {% endblock %}
</main>

{% block footer %}
    {% include 'shop/layout/footer.html.twig' %}
{% endblock %}
</body>
</html>
