{% extends 'shop/base.html.twig' %}

{% block body %}
    {% include 'shop/partials/_page_header.html.twig' with {pageTitle: 'shop.common.categories'|trans} %}

    {% embed 'shop/partials/_content_wrapper.html.twig' with {tag: 'section', id: 'category-list'} %}
        {% import 'shop/macros/heading.html.twig' as ui %}


        {% block content %}
            {% if data is defined %}
                <div class="flex flex-col gap-[32px] mb-[3rem]">

                    <div class="w-full flex gap-2 flex-wrap items-center justify-between text-primary-content pb-5 mb-4 border-b border-gray-200">

                        <button
                            class="react-filter-toggle border border-gray-200 transition-all duration-300 py-2 px-4 cursor-pointer rounded-xl flex gap-2 hover:border-primary"
                            data-filters="[]"
                            type="button"
                        >
                            {{ getSvgInline('build/images/filter.svg', 'text-primary-content')|raw }}
                            <span>{{ 'shop.common.filter'|trans }}</span>
                        </button>

                        <button
                            class="react-dropdown relative border border-gray-200 transition-all duration-300 py-2 px-4 cursor-pointer rounded-xl flex gap-2 hover:border-primary"
                            data-content="<div>HELLO</div>"
                        >
                            {{ getSvgInline('build/images/sort.svg', 'text-primary-content')|raw }}
                            <span>{{ 'shop.common.sort'|trans }}</span>
                            <div class="react-dropdown-placeholder"></div>
                        </button>
                    </div>

                    <div class="grid gap-[40px] xl:grid-cols-4 lg:grid-cols-3 w-full sm:grid-cols-2 grid-cols-1">
                        {% for category in data.categories|default([]) %}
                            {% include 'shop/category/partials/category-item.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                {{ ui.heading('h2', 'shop.common.categories_empty'|trans, 'text-primary-content') }}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('shop/filter') }}#}
{#    {{ encore_entry_script_tags('shop/dropdown') }}#}
{% endblock %}
